*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: var(--page-bgcolor);
	margin: 0;
}

:root {
	--email-bgcolor: white;
	--seen-email-bgcolor: #f2f6fc;
	--page-bgcolor: #f6f8fc;
	--search-bar-bgcolor: #eaf1fb;
	--write-email-btn-bgcolor: #c2e7ff;
	--current-section-bgcolor: #d3e3fd;
	--quick-actions-icons-color: #5f6368;
}
